// @import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import '~bulma/bulma.sass';
$primaryRed: #f73434;
$primaryGray: #a2abb3;
$secondaryGray: #d6dde4;
$primaryNavy: #093052;
$newGray: #f7f9fa;


/* Misc */

* {
  margin: 0px;
  font-family: 'Manrope', sans-serif;
  // background-color: $newGray;
}

/* Fonts */

h1 {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

h2 {
  color: $primaryNavy;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}


h4 {
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

h5 {
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  margin-right: 200px;
}

h6 {
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}


/* Navigation */

.navbar {
  background-color: $primaryNavy;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.navbar-item {
  color: #e1e3eb;
}

a.navbar-item:hover {
  color: $primaryGray;
}

.navbar-menu {
  padding: 0px;
}

/* Heros */

.hero-home {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/Jj8wIjG.png);
}

.hero-home-txt {
  margin-left: 40px;
  width: 300px;
  font-weight: bolder;
}

.hero-gigs {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/fD2RdRx.png);
}

.hero-gigs-txt {
  margin-left: 40px;
  width: 300px;
}

.hero-gigs-indv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $newGray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-gigs-indv-txt {
  margin-left: 50px;
  width: 600px;
}

.hero-gigs-indv-img {
  margin-right: 50px;
}

.hero-community {
  height: 390px;
  width: 100vw;
  background-color: $newGray;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/drQe5dH.png);
}

.hero-community-txt {
  margin-left: 40px;
  width: 300px;
}

.hero-gigs-indv-img img{
  margin: 0 50px;
  max-width: 550px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  padding:0px;
  display: block;
  border-radius: 25px;
  // margin:0px;
}

.gigShowArtistName {
  color: #081C6A;
  font-size: 20px;
  font-weight: bold;

}
/* Featured Events */

.featured-home {
  background-color: $newGray;
  padding-bottom: 40px;
}

.home-title {
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.three-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.three-col-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  flex: 1 1 400px;
}

.three-col-content img {
  height: 400px;
  width: 400px;
}

@media only screen and (max-width: 900px) {
  .three-col-content {
    margin-bottom: 30px;
  }
}

.button {
  color: $primaryNavy;
  background-color: $secondaryGray;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Links */

.links-home {
  background-color: $newGray;
  padding-bottom: 40px;
}

.links-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links-boxes-lft {
  height: 220px;
  width: 44vw;
  background-color: $primaryRed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 400px;
  margin-left: 40px;
  margin-right: 10px;
}


.links-boxes-lft h2 {
  color: #FFE065;
}

.links-boxes-rgt{
  height: 220px;
  width: 44vw;
  background-color: #FFDECA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 400px;
  margin-right: 40px;
  margin-left: 10px;
}

.links-boxes-rgt h2 {
  color: $primaryNavy;
}

@media only screen and (max-width: 900px) {
  .links-boxes-lft {
    margin-right: 40px;
    margin-bottom: 20px;
  }
  .links-boxes-rgt {
    margin-left: 40px;
  }
}

/* Map */

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 20px;
}

.genres > div {
  margin-right: 15px;
  margin-bottom: 20px;
  height: 55px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  color: #081C6A;
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mapArea {
  background-color: $newGray;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:40px;
}


.map {
  background-color: grey;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

// calendar 

.calendarArea {
  padding: 40px;
  background-color: $newGray;
  box-shadow: 0 10px 6px -6px #777;
}

.fc-event-title{
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.fc-col-header-cell-cushion{
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.fc-daygrid-day-number{
  color: $primaryNavy;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.fc-daygrid-day-frame {
  background-color: white;
}

.fc-scrollgrid-sync-inner{
  background-color: white;
}

/* Form */

.form-area {
  display: flex;
  flex-wrap: wrap;
  background-color: #FBFAF4;
  height: 95vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  margin-left: 50px;
}

/* Register */

.register-form-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  background-color: #f7f9fa;
}

.register-form {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* New */

.new-form-area {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f9fa;
}

.new-form {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}


.form-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 20px;
}

.login {
  height: 100vh;
  background-color: #FBFAF4;
}

.box {
  border-radius: 0px
}

.text-center {
  display: flex;
  justify-content: center;
  text-align: center;
}


/* Footer */

.footer-main {
  background-color: $primaryNavy;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
    .footer-text {
      color: $newGray
    }
}

// The below is for the map component - added by Aishath
.mapLabels {
  background-color: $primaryRed;
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
  padding: 2px;
  color: $newGray;
}

//the below is for gig event page comments

.eventComments{
  background-color: lightblue;
  margin: 30px;
  border-radius: 25px;
  padding:20px;
  max-width: 800px;
  min-width:500px
}

.indivComment {
  font-size: 15px;
  color: darkslategrey;
  font-weight: normal;
}

.gigCommentSection {
  display:flex;
  // align-items: center;
  justify-content: left;
}

.commentEventForm {
  align-self: center;
  margin: 10px;
  border-radius: 25px;
  padding:20px;
  max-width: 1200px;
  min-width:800px
}

.commentEventForm textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gigLike {
  color: white;
  background-color: lightcoral;
  padding: 3px 8px;
  border-radius: 10px;
  min-width: 90px;
  font-size: 20px;
}
/* community */

.message-box {
  display: flex;
  height: 500px;
  border: 1px solid black;
}

.chat-area {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}

.box1 {
  display: flex;
}

.box2 {
  display: flex;
}


//? Profile Page

.wrapper-crikey {
  margin: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color:white;
  justify-content: center;
}

.profile-info {
  margin: 5px;
}

.wrapper-crikey img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  // box-shadow: 1px 2px #888888;
}

.form-area2{
  background-color: white;
}

.wrapper-crikey .box{
  box-shadow: none
}

/* Gigs */

.gig-card {
  height: auto;
  margin: 30px;
  width: 350px;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.gig-title {
  height: auto;
  margin: 10px;
}

.gig-content {
  height: auto;
  margin: 10px;
}

.gig-card h4 {
  color: #081C6A;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.search-buttons{
  font-family: 'Manrope', sans-serif;
  margin: 20px;
  padding: 5px;
  background-color: $secondaryGray;
  color: $primaryRed;
  border-radius: 5px;
  text-decoration: none;
  border-width: 0px;
  min-width: 70px;
}

.searchGenres {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mapSearch {
  padding:30px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  max-width:1500px;
  background-color: $newGray;
}

.mapSearchHeader{
  display:flex;
  justify-content: center;
  margin:15px;
  background-color: $newGray;
}

.mapSearchHeader h1 {
  color:black;
}

.map-thumbs{
max-width: 200px;
padding: 10px;
background-color: $newGray;
}

.map-thumbs img{
  max-height: 100px;
}

.createdEventprofile{

  display:flex;
  justify-content: center;
}