@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import '~bulma/bulma.sass';

/* Misc */

* {
  margin: 0px;
}

/* Fonts */

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  color: #FF9E9E;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #081C6A;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}


h4 {
  font-family: 'Playfair Display', serif;
  color: #081C6A;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  color: #081C6A;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  margin-right: 200px;
}

h6 {
  font-family: 'PT Sans', sans-serif;
  color: #BAC0D6;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}


/* Navigation */

nav {
  background-color: #FBFAF4;
  display: flex;
  align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
}

nav a {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #081C6A;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.nav-logo a {
  font-family: 'Permanent Marker', cursive;
  color: #FF9E9E;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.nav-lft {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  width: 50vw;
}

.nav-rgt {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  width: 50vw;
}

/* Heros */

.hero-home {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/Jj8wIjG.png);
}

.hero-home-txt {
  margin-left: 40px;
  width: 300px;
}

.hero-gigs {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/fD2RdRx.png);
}

.hero-gigs-txt {
  margin-left: 40px;
  width: 300px;
}

.hero-gigs-indv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FBFAF4;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-gigs-indv-txt {
  margin-left: 50px;
  width: 600px;
}

.hero-gigs-indv-img {
  margin-right: 50px;
}

.hero-community {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/drQe5dH.png);
}

.hero-community-txt {
  margin-left: 40px;
  width: 300px;
}

  // margin:0px;

.hero-gigs-indv-img img{
  margin: 0 50px;
  max-width: 550px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  padding:0px;
  display: block;
  border-radius: 25px;
  // margin:0px;
}

.gigShowArtistName {
  color: #081C6A;
  font-size: 20px;
  font-weight: bold;

}
/* Featured Events */

.featured-home {
  background-color: #FFFFFF;
  padding-bottom: 40px;
}

.home-title {
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.three-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three-col-content {
  margin: 20px;
}

/* Links */

.links-home {
  background-color: #FBFAF4;
  padding-bottom: 40px;
}

.links-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links-boxes-lft {
  height: 220px;
  width: 44vw;
  background-color: #6455C1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.links-boxes-lft h2 {
  color: #FFE065;
}

.links-boxes-rgt{
  height: 220px;
  width: 44vw;
  background-color: #FFDECA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-boxes-rgt h2 {
  color: #081C6A;
}

/* Map */

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}

.genres > div {
  margin-right: 15px;
  margin-bottom: 20px;
  height: 55px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  color: #081C6A;
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.map-icons img {
  margin: 5px;
}

.mapArea {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:30px;
}


.map {
  background-color: grey;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

/* Form */

.form-area {
  display: flex;
  flex-wrap: wrap;
  background-color: #FBFAF4;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  margin-left: 50px;
}

.form-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box {
  border-radius: 0px
}


/* Footer */

.footer-main {
  background-color: #FF9E9E;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// The below is for the map component - added by Aishath
.mapLabels {
  background-color: lightpink;
  font-weight: bold;
  font-size: 16px;
}