@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);

/* Misc */

* {
  margin: 0px;
}

/* Fonts */

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

/* Navigation */

nav {
  background-color: #FBFAF4;
  display: flex;
  align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
}

nav a {
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #081C6A;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.nav-logo a {
  font-family: 'Permanent Marker', cursive;
  color: #FF9E9E;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.nav-lft {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  width: 50vw;
}

.nav-rgt {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  width: 50vw;
}

/* Hero */

.hero-home {
  height: 390px;
  width: 100vw;
  background-color: grey;
  display: flex;
  align-items: center;
}

.hero-home-txt {
  margin-left: 30px;
  width: 300px;
}
